* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(9, 255, 0);
}

.container {
  clear: both;
  background-color: green;
  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

.sidebar {
  background-color: #e7e9eb;
  width: 20%;
  float: left;
  height: 80%;
  overflow: auto;
}

.conten {
  float: left;
  background-color: rgb(255, 255, 255);
  width: 80%;
  height: 80%;
  overflow: auto;
}
.header {
  float: left;
  background-color: #282a35;
  width: 100%;
  height: 10%;
}
.foter {
  float: left;
  background-color: #282a35;
  width: 100%;
  height: 10vh;
}

/* ============================================== */

/* header */

.sidebar {
  padding: 25px;
  h1 {
    font-size: 1.5rem;
  }
  li {
    padding: 3px;
    list-style: none;
  }
  li a {
    text-decoration: none;
    color: black;
    padding: 5px;
  }
  li a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
  }
}

.conten {
  /* color: black; */
  padding: 25px;
  box-shadow: 0 10px 20px black;
}

.header {
  color: white;
  text-align: center;
}

.foter {
  color: white;
  text-align: center;
  align-items: center;
}
